<section class="Contact" bg-resize>
  <div class="Contact__CenterContainer">
    <div class="Contact__Heading">
      <h1>
        <a class="u-White" href="mailto:hello@dont-spam-me.com"
          onmouseover="this.href=this.href.replace(/(dont-spam-me)/g,'hanamdo');">
          Contact me!
        </a>
      </h1>
      <h6>Curious how this site was built? <br /> Look at the <a href="https://github.com/handonam/developerPortfolio">sourcecode</a>!</h6>
    </div>
    <div class="Contact__SelfieContainer">
      <img class="Contact__Selfie" src="/images/components/contact/selfie.jpg" />
    </div>
  </div>
</section>
