<section class="Hero" bg-resize bg-image="" bg-resize bg-image="" data-img-src="/images/components/hero/hero__bg.jpg">
  <div class="Hero__Heading">
    <h1 class="Hero__HeadingH1 a-slideDownFade">
      Hanam Do
    </h1>
    <p class="Hero__HeadingP a-FadeIn a--DelayTwo">
      Software Engineer <br />
      <img class="Hero__Location" src="/images/components/hero/hero__location.svg" /> San Diego, CA.
    </p>
    <a class="Button a-FadeIn a--DelayThree" href="/works">Next: Works</a>
  </div>
</section>
