$contactAvatarSize: 100px;

.Contact {
  background: $greyTertiary;
  display: flex;
}

.Contact__CenterContainer {
  margin: auto;
  padding: 0 5%;
}

.Contact__Heading {
  color: $white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  vertical-align: middle;
}

.Contact__SelfieContainer {
  border-radius: 50%;
  display: inline-block;
  height: $contactAvatarSize;
  overflow: hidden;
  vertical-align: middle;
  width: $contactAvatarSize;
}

.Contact__Selfie {
  width: 100%;
}
