.Contact {
  background: #55789A;
  display: flex;
}

.Contact__Heading {
  color: $white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  margin: auto;
  padding: 0 5%;
  text-align: center;
}
