$pathButton--ring1size: 100px;
$pathButton--ring2size: 110px;
$pathButton--ring3size: 120px;

@keyframes animate-PathbuttonGlow {
  0% {
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, .5);
  }
  50% {
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0);
  }
}

.PathButton {
  animation: animate-PathbuttonGlow 4s infinite;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0);
  border-radius: 100%;
  color: #fff;
  height: $pathButton--ring1size;
  left: calc(50% - #{$pathButton--ring1size} / 2);
  margin: auto;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: $pathButton--ring1size;
  z-index: 1;
}
  .PathButton:after,
  .PathButton:before {
    animation: animate-PathbuttonGlow 4s infinite;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0);
    content: '';
    position: absolute;
  }
  .PathButton:after {
    animation-delay: .5s;
    height: $pathButton--ring3size;
    left: calc(50% - ( #{$pathButton--ring3size} / 2 ));
    top: calc(50% - ( #{$pathButton--ring3size} / 2));
    width: $pathButton--ring3size;
  }
  .PathButton:before {
    animation-delay: .25s;
    height: $pathButton--ring2size;
    left: calc(50% - ( #{$pathButton--ring2size} / 2 ));
    top: calc(50% - ( #{$pathButton--ring2size} / 2) - .5px);
    width: $pathButton--ring2size;
  }

.PathButton--Next {
  bottom: 0;
  line-height: 50px;
  margin-bottom: calc(-1 * #{$pathButton--ring1size} / 2 - 10px);
}

.PathButton--Back {
  line-height: 150px;
  margin-top: calc(-1 * #{$pathButton--ring1size} / 2 - 10px);
  top: 0;
}
